*{
    padding: 0;
    margin: 0;
}
.container{

    display: flex;
    
}
.Navbar{

    display: flex;
 
} 

.combo{

    width: 100%;
    height: 100vh;
    overflow: auto;
    justify-content: center;

}

.MainContent{

    display:flex;
    flex-wrap: wrap;
    margin-left: 5px;
    justify-content: center;
    height: auto;

}