.ALL{
    margin: 60px;
    background-color: white;
}

.collegeLogo{
    margin-left: 350px;   
    width: 250px;
}

.stuInfo{

    display:flex;
    margin-left: 50px;   

}

.img{

    margin-top: 30px;
    margin-left: 10px;

}

thead th{

    height: 20px;

}

thead,tbody{

    box-shadow: none;

}