table{

  border-collapse: collapse;
  width: 100%;

}


.tableContent{
  width: 100%;
  margin-top: 1px;
  background-color: white;
  overflow: auto;
  height: 390px;

}

.tableContent1{
  margin-top: 1px;
  background-color: white;
  overflow: auto;
  height: 420px;

}


.tableContent::-webkit-scrollbar {
  display: none;
}

.tableContent th{
  position: sticky; 
  top:0;
  color: #35d8ac;

}

thead{
  height: 50px;
}

th{
  background:whitesmoke;
}

tr,td {
  padding: 8px 16px;
  text-align:center;
  text-size-adjust : small;
}


tbody:before {
  content:"@";
  display:block;
  line-height:1px;
  text-indent:-99999px;
}

tbody{
  width: 100%;
  background-color: white;
  margin-top: 0px;
  height: 40px;
}
tr{
  background-color: #fff;
  transition: transform .15s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
}
tr:hover {
  transform: scale(1.02);
}

thead,tbody{

  border-radius: 0.4rem;

}
