.profile_img{

    border-color: #D1D5DB;
    width: 100px;
    border-radius: 9999px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    cursor: pointer

}
.profile_img:hover{
    border-color: #E5E7EB;
}

label {
  display: inline-block;
}

input[type="file"] {
  display: none;
}

label:before {
  display: inline-block;
  background-color: #eee;
  color: #444;
  border-radius: 3px;
  cursor: pointer;
}

input[type="file"]:focus + label:before,
input[type="file"]:active + label:before {
  outline: 1px dotted #000;
}

input[type="file"]:valid + label:before {
  background-color: #8bc34a;
  color: #fff;
}